@model List<MvcCv.Models.Entity.Tbl_Hakkimda>


    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Clarence Taylor</span>
        @foreach (var item in Model)
        {
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="@item.Resim" alt="" /></span>
        }
    </a>
    

